
@import url('https://fonts.googleapis.com/css?family=Yantramanav');
@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
	
	/* Nav and Footer Styling */

  .aside-nav {
    display: none;
  }

  #aside {
    background: #2ddf5c;
  }

  .aside__items {
    padding: 0;
  	margin: 0;
  	list-style: none;
    display: flex;
    flex-direction: column;
  }

  .aside__item {
  	margin: 1rem 0;
  }

  .aside__item a, .mobile-nav__item a {
  	text-decoration: none;
  	/* color: #0e4f1f; */
  	font-weight: bold;
    /* padding: 0.1rem 0; */
    
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
  }

  .aside__item a:hover, .main-nav__item a:active {
  	color: #FFFFFF;
  	border-bottom: 5px solid #FFFFFF;
  }

  .badge {
    top: 0;
    right: 0;
    margin: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    background: #FFFFFF;
    padding: 0.5rem;
}


  .footer-links {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }

  .footer-link {
  	margin: 1rem 0;
  }

  .footer-link a {
  	color: #FFFFFF;
  	text-decoration: none;
  }

  .footer-link a:hover, .footer-link a:active {
  	color: #ccc;
  }

  /* Mobile Nav */
  img {
    width: 100px;
  }

  .mobile-nav {
  	display: none;
  	position: fixed;
  	z-index: 101;
  	top: 0;
  	left: 0;
  	background: rgb(25, 255, 121);
  	width: 80%;
  	height: 100vh;
  }

  .mobile-nav__items {
  	width: 90%;
  	min-height: 90vh;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

  .mobile-nav__item {
  	margin: 1rem 0;
  }

  .mobile-nav__item a {
  	font-size: 1.5rem;
  }

  .button a, .approved, .button {
  	background: #2ddf5c;
  	color: #FFFFFF;
  	font: inherit;
  	border: 1.5px solid #2ddf5c;
  	padding: 0.5rem;
  	border-radius: 8px;
  	font-weight: bold;
  	cursor: pointer;
  	text-decoration: none;
  }
  .open {
  	display: block;
  }

  @media (min-width: 40rem) {
  	.toggle-button {
  		display: none;
  	}
  	.main-nav {
  		display: flex;
    }
    
  img {
    width: 100px;
  }
    
  .aside-nav {
    background-color: #ccc;
    width: 20%;
  	min-height: 100vh;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

  .outline {
    display: flex;
  	flex-direction: row;
    align-items: center;
    margin: 0;
  }

  }

  @media (min-width: 40rem) {
  	.footer-link {
  		display: inline-block;
  		margin: 0 1rem;
  	}
  	.footer-links {
  		flex-direction: row;
  		align-items: left;
  	}
  }

  /* Nav and Footer ends */

  @media (min-width: 40rem) and (min-height: 40rem) {
  	#landing-page-text, #admin-page {
  		height: 100vh;
  		background-position: 50% 25%;
  	}
  	#landing-page-text h1, #admin-page h1 {
			font-size: 3rem;
			font-family: 'Philosopher', sans-serif;
    font-weight: bold;
  	}
  }

