@import url('https://fonts.googleapis.com/css?family=Yantramanav');
@import url('https://fonts.googleapis.com/css?family=Philosopher');
	
	/* Nav and Footer Styling */

  * {
    margin: 0;
    padding: 0;
  	box-sizing: border-box;
  }

  body {
  	font-family: 'Monserrat', sans-serif;
  	margin: 0;
  }

  .backdrop {
  	position: fixed;
  	display: none;
  	top: 0;
  	left: 0;
  	z-index: 10;
  	width: 100vw;
  	height: 100vh;
  	background: rgba(0, 0, 0, 0.5);
  }

  .main-header {
  	width: 100%;
  	position: fixed;
  	top: 0;
  	left: 0;
  	background: #2ddf5c;
  	padding: 12px 5px 12px 5px;
  	z-index: 1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  }

  .sitewrapp {
      display: grid;
      grid-template-rows: repeat(2, fit-content(15rem));
      grid-gap: 0.5rem;
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
  }

  .page-text {
      color: #FFFFFF;
      margin: 4rem;
      width: 30rem;
      height: 8rem;
      display: flex;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
      font-family: 'Anton', sans-serif;
  	  bottom: 5%;
  	  left: 3%;
	  font-size: 1.6rem;
	  font-family: 'Philosopher', sans-serif;
      font-weight: bold;
  }

  /*Button*/
  .page_button a {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
  	border-radius: 8px;
    margin: 4rem;
    width: 30rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    background: #2ddf5c;
  }

  .page_button a:active, .page_button a:hover {
    color: #212121;
    background: #FFFFFF;
    border-bottom: none;
}
button.view a {
  text-decoration: none;
  color: #ffffff;
}

button.view {
  border-radius: .36em;
  border: .1px solid grey;
  padding: .25em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(30, 130, 76);
  color: #ffffff;
  opacity: .8;
}

button.btn-submit{
  border-radius: .36em;
  border: .1px solid grey;
  padding: .25em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(12, 241, 12);
  color: #ffffff;
  opacity: .8;
}

button.btn-close {
  border-radius: .36em;
  border: .1px solid grey;
  padding: .25em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(108, 122, 137);
  color: #ffffff;
  opacity: .8;
}
button.btn-add {
  border-radius: .36em;
  border: .1px solid grey;
  padding: .25em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: #80ffc1;
  color: #ffffff;
  opacity: .8;
}

button.btn-edit {
  border-radius: .36em;
  border: .1px solid grey;
  padding: .25em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: #e5f506;
  color: #ffffff;
  opacity: .8;
}

button.btn-remove {
  border-radius: .36em;
  border: .1px solid grey;
  padding: .25em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: #ff6666;
  color: #ffffff;
  opacity: .8;
}

  .toggle-button {
  	width: 3rem;
  	background: transparent;
  	border: none;
  	cursor: pointer;
  	padding-top: 0;
  	padding-bottom: 0;
  	vertical-align: middle;
  }

  .toggle-button:focus {
  	outline: none;
  }

  .toggle-button__bar {
  	width: 100%;
  	height: 0.2rem;
  	background: black;
  	display: block;
  	margin: 0.6rem 0;
  }

  .main-nav {
  	display: none;
  }

  .main-nav__items {
  	padding: 0;
  	margin: 0;
  	list-style: none;
  	display: flex;
  }

  .main-nav__item {
  	margin: 0 1rem;
  }

  .main-nav__item a, .mobile-nav__item a {
  	text-decoration: none;
  	color: #0e4f1f;
  	font-weight: bold;
  	padding: 0.1rem 0;
  }

  .main-nav__item a:hover, .main-nav__item a:active {
  	color: #FFFFFF;
  	border-bottom: 5px solid #FFFFFF;
  }

  .nav_button a, .mobile-nav_button a {
  	color: #FFFFFF;
  	background: #212121;
  	padding: 0.5rem 1rem;
  	border-radius: 8px;
  }

  .nav_button a:hover, .nav_button a:active {
  	color: #212121;
  	background: #FFFFFF;
  	border-bottom: none;
  }

  .main-footer {
  	background: black;
  	padding: 2rem;
  }

  #landing-page-footer {
  	background: black;
  	padding: 2rem;
  	margin-top: 0;
  }

  .footer-links {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }

  .footer-link {
  	margin: 1rem 0;
  }

  .footer-link a {
  	color: #FFFFFF;
  	text-decoration: none;
  }

  .footer-link a:hover, .footer-link a:active {
  	color: #ccc;
  }

  /* Mobile Nav */

  .mobile-nav {
  	display: none;
  	position: fixed;
  	z-index: 101;
  	top: 0;
  	left: 0;
  	background: rgb(25, 255, 121);
  	width: 80%;
  	height: 100vh;
  }

  .mobile-nav__items {
  	width: 90%;
  	height: 100%;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

  .mobile-nav__item {
  	margin: 1rem 0;
  }

  .mobile-nav__item a {
  	font-size: 1.5rem;
  }

  /* Column Sizes */

.page-row {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-col-1 {
  width: 8.33%;
}

.page-col-2 {
  width: 16.66%;
}

.page-col-3 {
  width: 25%;
}

.page-col-4 {
  width: 33.33%;
}

.page-col-5 {
  width: 41.66%;
}

.page-col-6 {
  width: 50%;
}

.page-col-7 {
  width: 58.33%;
}

.page-col-8 {
  width: 66.66%;
}

.page-col-9 {
  width: 75%;
}

.page-col-10 {
  width: 83.33%;
}
  
.page-col-11 {
  width: 91.66%;
}

.page-col-12 {
  width: 100%;
}

[class*="page-col"] {
  margin: auto;
}

  
  .open {
  	display: block;
  }


  @media (min-width: 40rem) {
  	.toggle-button {
  		display: none;
  	}
  	.main-nav {
  		display: flex;
  	}
  }

  @media (min-width: 40rem) {
  	.footer-link {
  		display: inline-block;
  		margin: 0 1rem;
  	}
  	.footer-links {
  		flex-direction: row;
  		align-items: left;
  	}
  }

  /* Nav and Footer ends */

  #landing-page-text {
  	background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("../images/background2.jpg") center/cover no-repeat border-box, #ff1b68;
  	width: 100vw;
  	min-height: 87vh;
  	position: relative;
  }

  .section-title {
  	color: #2ddf5c;
  	text-align: center;
  }

  /* Tables */
  .tablewrapp {
    display: grid;
      grid-template-rows: repeat(2, fit-content(20rem));
      grid-gap: 0.5rem;
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
  }

  .shade {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin: 0;
    top: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .table-container {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: rgba(32, 32, 32, 0.86);
    color: #f6f6f6;
  }

div.main-table {
  overflow-x: auto!important;
}

table.main-table {
  border-collapse: collapse;
  width: 100%;
}

table.main-table th,
table.main-table td {
  padding: .5em;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #d3d1d1;
  color: #3b3b3b;
}

tr:nth-child(odd) {
  background-color: rgba(32, 32, 32, 0.86);
  color: #c7c5c5;
}

/*  Modal  */

.product-modal {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.55);
  height: 100%;
  position: fixed;
  top: 0em;
  display: none;
  overflow: auto;
  z-index: 1;
}

.product-modal-section {
  top: 2em;
  width: 30%;
  height: auto;
  margin: auto;
  margin-top: 3.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(242, 241, 239);
  display: none;
  overflow: auto;
  padding-top: 0em;
  border-top: .3em inset rgb(30, 130, 76);
  border-bottom: .4em inset rgb(30, 130, 76);
}

.product-modal-section p>label {
  margin-bottom: .2em;
  font-weight: 600;
  color: #3b3b3b;
}

.product-modal-section p {
  text-align: justify!important;
  font-size: .9em;
}

.product-modal-heading {
  background-color: rgb(30, 130, 76);
  padding: .5em;
  margin-bottom: 1em;
  color: white;
}

  @media (min-width: 40rem) and (min-height: 40rem) {
  	#landing-page-text {
  		height: 87vh;
  		background-position: 50% 25%;
  	}
  	.page-text {
			font-size: 3rem;
			font-family: 'Philosopher', sans-serif;
    font-weight: bold;
      }
  
    .page_button a {
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      padding: 0.5rem 1rem;
        border-radius: 8px;
      margin: 4rem;
      width: 30rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      background: #2ddf5c;
    }
  
    .page_button a:active, .page_button a:hover {
      color: #212121;
      background: #FFFFFF;
      border-bottom: none;
  }
  .tablewrapp {
    display: block;
    width: 100%;
    margin: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    height: 100%;
    background-size: cover;
  }
  
  }

  /* Asides Styling */

  .aside-nav {
    display: none;
  }

  #aside {
    background: #2ddf5c;
  }

  .aside__items {
    padding: 0;
  	margin: 0;
  	list-style: none;
    display: flex;
    flex-direction: column;
  }

  .aside__item {
  	margin: 1rem 0;
  }

  .aside__item a, .mobile-nav__item a {
  	text-decoration: none;
  	font-weight: bold;
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
  }

  .aside__item a:hover, .main-nav__item a:active {
  	color: #FFFFFF;
  	border-bottom: 5px solid #FFFFFF;
  }

  @media (min-width: 40rem) {
  .aside-nav {
    background-color: #ccc;
    width: 20%;
  	min-height: 90vh;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

  .outline {
    display: flex;
  	flex-direction: row;
    align-items: center;
    margin: 0;
  }

  }

  